---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@nextui-org/react";
import Counter from "../components/Counter";
const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout title="Home Page">
  <div class="container mx-auto">
    <h1 class="text-xl">Home Page</h1>
  </div>
</BaseLayout>
