---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@nextui-org/react";
import Counter from "../components/Counter";
const someProps = {
  count: 0,
};

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout title="Home Page">
  <Counter {...someProps} client:visible>
    <h1>Hello, React!</h1>
  </Counter>
  <Button color="primary" client:visible>ปุ่มข่อย</Button>
</BaseLayout>
