---
import "@fontsource/prompt";
// 1. The frontmatter prop gives access to frontmatter and other data
const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
